.cta-section{
    width: 80%;
    cursor: default;
}


.old-price {
  position: relative;
  display: inline-block;
  color: inherit;
  font-weight: 700;
}

.old-price::after {
  content: "";
  position: absolute;
  left: -5%;
  top: 50%;
  width: 110%;
  height: 1px;
  background: red;
  transform: rotate(-8deg);
  transform-origin: center;
}
.container-floating {
  background-color: #e3e1da;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 0px !important;

}
@media(max-width:767px){

  .qtypill{
    height: 30px !important;
  }
    .cta-section,
    .textafter{
    width: 95% !important;
}
  .qtypill button{
    width: 30px !important;
    height: 30px !important;
    
  }
    .qtypill span{
      width: 30px !important;
    }
.itemcta{
    justify-content: center !important;
}
.container-floating{

  padding: 0 ;
}
  .currentprice,
  .tota-checkout{
    font-size: 20px !important;
  }

}
@media(max-width:380px){
    .qtypill{
    height: 30px !important;
  }

  .qtypill button{
    width: 28px !important;
    height: 20px !important;
    
  }
    .qtypill span{
      width: 30px !important;
      font-size: 14px !important;
    }
  .textafter{
    width: 95% !important;
  }
  .price-desc{
    gap: 0px !important;

  }

  .currentprice,
  .tota-checkout{
    font-size: 20px !important;
  }
  .insteadof,
  .old-price{
    font-size: 11px;

  }
}
@media(max-width:290px){

  .qtypill button{
    width: 20px !important;
    height: 20px !important;
    
  }
    .qtypill span{
      width: 20px !important;
    }
  .textafter{
    width: 95% !important;
  }
  .price-desc{
    gap: 0px !important;

  }

  .currentprice,
  .tota-checkout{
    font-size: 16px !important;
  }
  .insteadof,
  .old-price{
    font-size: 11px;

  }
}